<h3>Receipts</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col" style="border-right: 2px solid black;">#</th>
        <th scope="col">Date</th>
        <th scope="col">Total Price</th>
        <th scope="col">View Receipt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let receipt of receipts$ | async; let i = index">
        <th scope="row" style="border-right: 2px solid black;">{{i + 1}}</th>
        <td>{{receipt.purchaseDate.getMonth()}}/{{receipt.purchaseDate.getDate()}}/{{receipt.purchaseDate.getFullYear()}}</td>
        <td>${{receipt.totalCost | number:'1.2-2'}}</td>
        <td> <button type="button" class="btn btn-info" [routerLink]="[i]">View</button>
        </td>
      </tr>
    </tbody>
  </table>