<h1>Shopping Cart</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col" style="border-right: 2px solid black;">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Tax</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of items$ | async; let i = index"
      >
        <th scope="row" style="border-right: 2px solid black;">{{i+ 1}} </th>
        <td>{{item.name}}</td>
        <td>${{item.unadjustedPrice | number:'1.2-2'}}</td>
        <td>${{item.tax | number:'1.2-2'}}</td>
        <td>{{item.quantity}}</td>
        <td>${{item.totalPrice | number:'1.2-2'}}</td>
        <td><button type="button" class="btn btn-danger" (click)="onRemove(i)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 style="padding-top: 10px;"> Items: ${{getTaxless() | number:'1.2-2'}}</h3>
  <h3 style="padding-top: 5px;"> Tax: ${{getTaxes() | number:'1.2-2'}}</h3>
  <h2 style="padding-top: 5px;"> Total Price: ${{getSum() | number:'1.2-2'}}</h2>
  <div style="padding-top: 10px;"></div>
  <button type="button" class="btn btn-success" (click)="onPurchase()">Purchase</button>

