
<h3>Inventory</h3>
  <table class="table" >
    <thead>
      <tr>
        <th scope="col" style="border-right: 2px solid black;">#</th>
        <th scope="col">Stock</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Imported</th>
        <th scope="col">Tax exempt</th>
        <th scope="col">Quantity</th>
        <th scope="col">Submit</th>
      </tr>
    </thead >
      <tbody>
        <form action=""></form>
      <tr *ngFor="let product of trial; let i = index">
        <th scope="row" style="border-right: 2px solid black;">{{i+1}}</th>
        <td>{{product.stock}}</td>
        <td>{{product.name}}</td>
        <td>{{product.unadjustedPrice | number:'1.2-2'}}</td>
        <td *ngIf="product.imported === true">yes</td>
        <td *ngIf="product.imported === false">no</td>
        
        <td *ngIf="product.exempt === true">yes</td>
        <td *ngIf="product.exempt === false">no</td>
          <td>
            <input type="number" name="quantity" ngModel id="quantity" [(ngModel)]="product.quantity">
          </td>
          <td>
            <button type="button" class="btn btn-warning" (click)="onAddToCart(product, i)">add to cart</button>
          </td>
      </tr>
    </tbody>
  </table>
  
  <button type="button" class="btn btn-success" (click)="onAddActivate()">Add</button>
  <router-outlet  (activate)="newAdded($event)"></router-outlet>

