<!--ng-container *ngIf="(products$ | async) as products" -->
<h3>Inventory</h3>
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">imported</th>
        <th scope="col">tax exempt</th>
        <th scope="col">quantity</th>
        <th scope="col">submit</th>
      </tr>
    </thead >
      <tbody (inventoryChanged)="reloadInventory()">
        <form action=""></form>
      <tr
        *ngFor="let product of trial; let i = index"
          >
        <th scope="row">{{i+1}}</th>
        <td>{{product.name}}</td>
        <td>{{product.unadjustedPrice | number:'1.2-2'}}</td>
        <td *ngIf="product.imported === true">yes</td>
        <td *ngIf="product.imported === false">no</td>
        
        <td *ngIf="product.exempt === true">yes</td>
        <td *ngIf="product.exempt === false">no</td>
          <td>
            <input type="number" name="quantity" ngModel id="quantity">
          </td>
          <td>
            <button type="button" class="btn btn-warning">add to cart</button>
          </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" (click)="onAddActivate()">Add</button>
  <router-outlet></router-outlet>
<!--/ng-container-->

