<p>hello</p>
<!--table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">imported</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let inventoryProduct of products; let i = index"
      >
        <th scope="row">index + 1</th>
        <td>{{inventoryProduct.name}}</td>
        <td>{{inventoryProduct.unadjustedPrice}}</td>
        <td *ngIf="inventoryProduct.imported === true">yes</td>
        <td *ngIf="inventoryProduct.imported === false">no</td>
      </tr>
    </tbody>
  </table-->