<h3>Receipt: {{receipt.purchaseDate.getDay()}}/{{receipt.purchaseDate.getMonth()}}/{{receipt.purchaseDate.getFullYear()}}   </h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Tax</th>
        <th scope="col">Quantity</th>
        <th scope="col">total price</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let product of receipt.purchases; let i = index"
      >
        <th scope="row">{{i+ 1}}</th>
        <td>{{product.name}}</td>
        <td>${{product.unadjustedPrice | number:'1.2-2'}}</td>
        <td>${{product.tax | number:'1.2-2'}}</td>
        <td>{{product.quantity}}</td>
        <td>${{product.totalPrice  | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
  <h6 style="padding-top: 10px;"> Items: ${{receipt.totalTaxless | number:'1.2-2'}}</h6>
  <h6 style="padding-top: 5px;"> Tax: ${{receipt.totalTaxes | number:'1.2-2'}}</h6>
  <h5 style="padding-top: 5px;"> Total Price: {{receipt.totalCost| number:'1.2-2'}}</h5>